@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gayathri-Bold';
    src: url('../fonts/Gayathri-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gayathri-Regular';
    src: url('../fonts/Gayathri-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Gayathri-Thin';
    src: url('../fonts/Gayathri-Thin.ttf') format('truetype');
}


@import url('https://fonts.googleapis.com/css?family=Crushed&display=swap');
   
html {
    width: 100%;
}

body {
    font-family: 'Roboto-Regular';
    font-size: 1em;
    width: 100%;
    margin: 0;
}

#page {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

#site_title {
    font-family: 'Crushed', 'Robot-Bold';
    text-align: center;
    letter-spacing: 10px;
    font-size: 2em;
    margin-bottom: 0;
    font-weight: bold;
    word-spacing: 0.1em;
    overflow: hidden;
}

#menu {
    margin: 0;
    display: flex; 
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    color: black;
}

#menu ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/***************** CONNEXION / INSCRIPTION / DECONNEXION ****************/

.connexion_home {
    font-family: 'Roboto-Thin';
    font-size: 0.8em;
    position: absolute; 
    right: 1em;
    top: 7em;
    padding: 1em;
    z-index: 5;
}

.connexion_home i {
    color: rgb(246, 178, 43);
}

.connexion_home a {
    color: black;
    margin-right: 1em;
}

.connexion_home a:hover {
    font-family: 'Roboto-Regular';
}
/***************** MENU-NAVBAR ********************/

#menu a {
    padding: 1em;
    color: black;
    font-size: 0.5em;
}

a:hover {
    text-decoration: none;
}

#menu a:hover, .active_link_header {
    border-bottom: 2px solid rgb(246, 178, 43);
    padding: 1.1em;
    font-weight: bold;
}

.line_nav {
    height: 1px;
    width: 500px;
    background-color: black;
    margin: 0;
}

/***************** SLIDER BOOTSTRAP ********************/

.h_slider {
    font-size: 2em;
    background-color: rgb(246, 178, 43, 0.5);
}

.p_slider {
    background-color: rgb(0,0,0,0.5);
}

/***************** GENERAL ****************/

.one_title {
    font-family: 'Gayathri-Regular', 'Roboto-Regular';
    color: rgb(246, 178, 43);
    text-align: center;
}

.word_color {
    color: rgb(246, 178, 43);
}

/***************** HOME PAGE ****************/

#accueil {
    max-width: 500px;
    margin-bottom: 3em;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: 2px solid rgb(192, 192, 192, 0.5);
    border-radius: 15px;
}

#accueil .line_nav {
    max-width: 200px;
}

#container_home {
    font-family: 'Gayathri-Regular', 'Roboto-Regular';
    display: flex; 
    justify-content: center;
}

/***************** BIOGRAPHIE PAGE ****************/
#container_bio {
    display: flex; 
    justify-content: center;
    margin: auto;
}

#biographie {
    display: flex; 
    flex-direction: column;
    padding-right: 3em; 
    margin: auto;
    border-right: 2px solid silver;
}

#biographie pre {
    font-family: 'Gayathri-Regular', 'Roboto-Regular';
    white-space : pre-line;
}

#portrait img {
    width: 100%; 
    height: auto;
    border-radius: 15px;
}

/***************** CONTACT PAGE ****************/
 
#contact {
    font-family: 'Gayathri-Regular', 'Roboto-Regular';
    padding: 1em;
    display: flex; 
    justify-content: center;
}

#contact .button_contact {
    width: 200px;
    margin: auto;
}

#contact textarea {
    height: 150px;
}

#contact form {
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.input_contact {
    display: flex;
    align-items: center;
    width: 350px;
    padding: 1em;
}

#contact i {
    margin-right: 0.5em;
    color: rgb(246, 178, 43);
}

/***************** FOOTER ****************/

footer {
    font-family: 'Gayathri-Regular', 'Roboto-Regular';
    font-size: 0.7em;
    height: 3em; 
    border-top: 1px solid black;
    display: flex; 
    justify-content: center;
    align-items: center;
}

/***************** ARTICLES PAGE ****************/

#list_articles {
    font-family: 'Gayathri-Regular', 'Roboto-Regular';
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.one_article h4, .one_article h5 {
    margin: 0 !important;
}

.one_article h5 {
    color: rgb(246, 178, 43);
}

.one_article a {
    padding: 1em;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
    color: black;
}

.one_article a:hover, .one_article a:hover h5 {
    background-color: rgb(246, 178, 43); 
    color: white;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination a, .back  {
    color: black;
}

.pagination a:hover, .pagination .pagination_active, .back:hover {
        color: rgb(246, 178, 43);
}

/***************** ONE ARTICLE PAGE ****************/

#container_article {
    font-family: 'Gayathri-Regular', 'Roboto-Regular';
    display: flex; 
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding: 0;
}

.head_article {
    font-family: 'Roboto-Regular';
    display: flex; 
    flex-direction: column;
    color: rgb(37, 37, 37);
}

.date_article {
    color: grey;
    font-size: 0.8em;
}

.head_article .title_article {
    display: flex; 
    align-items: center;
}

h2 {
    margin: 0;
}

/***************** COMMENTS ON ARTICLE ****************/

.container_comment {
    display: flex; 
    flex-direction: column;
    border: 1px solid rgb(170, 153, 153, 0.3);
    border-radius: 5px;
    padding: 0;
}

.head_comment {
    font-family: 'Roboto-Regular';
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(146, 140, 140, 0.3);
    margin: 0;
    border-radius: 5px 5px 0 0;
    padding: 0.5em;
}

.head_comment:hover {
    background-color: rgb(146, 140, 140, 0.7);
}

.author_comment {
    font-family: 'Roboto-Bold';
}

.date_comment {
    font-size: 0.8em;
}

.body_comment {
    margin: 0.5em;
}

.report_link {
    color: black; 
}

.report_link:hover {
    color: red;
}

#container_user {
    font-family: 'Roboto-Regular';
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    border: 1px solid rgb(170, 153, 153, 0.9);
    border-radius: 5px;
    padding: 0;
}

.head_user {
    background-color: rgb(246, 178, 43);
    border-radius: 5px 5px 0 0;
    padding: 0.5em;
    width: 100%;
}

#container_user form textarea {
    height: 120px;
    width: 100%;
    margin: auto;
}

/***************** CONNEXION/INSCRIPTION PAGE ****************/

#container_connexion {
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.container_block {
    font-family:  'Roboto-Bold';
    display: flex; 
    justify-content: center;
}

.title_connexion {
    font-size: 2.5em;
    font-family:  'Roboto-Bold';
    display: flex; 
    justify-content: center;
}

.connexion, .inscription {
    font-family:  'Roboto-Regular';
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin: 1em;
}

.inscription {
    background-color: rgb(247, 167, 8);
    color: white;
    border: 2px solid black;
}

.connexion {
    border: 2px solid rgb(247, 167, 8);
}

/***************** ADMINISTRATION BLOG ****************/
#container_admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#accueil_admin {
    margin: 1em;
    padding: 0;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
#accueil_admin p strong {
    font-size: 1.3em;
    color: rgb(247, 167, 8);
}

#accueil_admin p {
    margin: 2em;
}

table tbody th i {
    color: rgb(247, 167, 8);
}

table .border_table {
    border: 2px solid black;
}

.write_article {
    border-top : 2px solid rgb(247, 167, 8);
    border-bottom : 2px solid rgb(247, 167, 8); 
    display: flex;
    justify-content: center;
}



